<div class="mission completed">
  <table>
    <tr><td><span class="theader">target:</span></td><td>Person</td></tr>
    <tr><td><span class="theader">location:</span></td><td>Place</td></tr>
    <tr><td><span class="theader">mo:</span></td><td>MO</td></tr>
  </table>

  <ul class="links">
    <li><a href="/note/id/remove">remove</a></li>
  </ul>
</div>