@import url("http://fonts.googleapis.com/css?family=Cinzel:400,700");
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  width: 100vw;
  background-color: black;
  background-image: url("/img/ac.png");
  background-repeat: no-repeat;
  background-position: -500px 0px; }

#container {
  background-color: #0d0d0d;
  opacity: 0.90;
  width: 75vw;
  height: 96vh;
  float: right;
  padding: 0 1vw 0 1vw;
  margin: 2vh; }

#wrapper {
  display: table; }

#login {
  height: 95vh;
  width: 95vw;
  background-image: url("/img/guard.png");
  background-repeat: no-repeat;
  background-position: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 150%; }

#missions {
  height: 80vh;
  overflow: auto; }

#header {
  font-family: Cinzel;
  font-weight: normal;
  font-size: 300%;
  text-align: center;
  color: red;
  height: 10vh; }
  #header:first-child:first-letter {
    font-size: 135%; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -moz-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -ms-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: -o-linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  background-image: linear-gradient(left, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.5), rgba(180, 180, 180, 0));
  margin: 5px 0 20px 0; }

.mission {
  margin-bottom: 10px;
  padding: 15px 10px 15px 70px;
  background-image: url("/img/ac_emblem_white.png");
  background-repeat: no-repeat;
  background-position: 20px;
  background-color: #1a1a1a;
  min-height: 100px; }

.completed {
  background-image: url("/img/ac_emblem_gray.png");
  opacity: 0.45; }

.theader {
  font-weight: bold;
  padding-right: 20px;
  font-variant: small-caps;
  font-family: Cinzel;
  text-align: right; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    float: left;
    padding-top: 5px;
    font-size: 80%;
    font-variant: small-caps; }
    ul li:before {
      content: "[";
      padding-right: 3px; }
    ul li:after {
      content: "]";
      padding-left: 3px;
      padding-right: 5px; }

a {
  text-decoration: none;
  color: #737373; }

#createmission {
  text-align: center; }

#newmissiontable, #logintable {
  margin-left: auto;
  margin-right: auto; }

input {
  background-color: #e6e6e6; }

#submit {
  position: relative; }

#submitmessage {
  position: absolute;
  display: none;
  padding-top: 25px;
  padding-left: 10px;
  color: gray;
  font-variant: small-caps;
  font-size: 80%; }

#submitmessage:before {
  content: "/ "; }

#submitmessage:after {
  content: " /"; }

#submit:hover #submitmessage {
  display: inline; }

#submitbutton {
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: center;
  padding: 10px 0 10px 0; }

button:hover #submitmessage {
  display: block; }

.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }
