<div id="wrapper">
  <div id="login">
    <form action="/sessions/?" method="post">
      <input type="text" name="username" id="login_username" required>
      <input type="password" name="password" id="login_password" required>
      <div id="submit">
        <button id="loginbutton" type="submit"><img src="/img/ac_emblem_white.png"></button>
        <div id="submitmessage">enter</div>
      </div>
    </form>
  </div>
</div>

<a href="/users/new" class="register"><div id="register">&nbsp;</div></a>