<div class="mission<%= mission.completed ? " completed" : "" %>">
  <table>
    <tr><td><span class="theader">target</span></td><td><%= mission.target %></td></tr>
    <tr><td><span class="theader">location</span></td><td><%= mission.location %></td></tr>
    <tr><td><span class="theader">mo</span></td><td><%= mission.mo %></td></tr>
  </table>

  <ul class="links">
    <% if not mission.completed %>
    <li><a href="/note/id/complete">complete</a></li>
    <li><a href="/note/id/edit">edit</a></li>
    <% end %>
    <li><a href="/note/id/remove">remove</a></li>
  </ul>
</div>