<div id="createmission">
  <form action="/missions/?" method="post">
    <table id="newmissiontable">
      <tr><td class="theader">target</td><td><input type="text" name="target"></td></tr>
      <tr><td class="theader">location</td><td><input type="text" name="location"></td></tr>
      <tr><td class="theader">mo</td><td><input type="text" name="mo"></td></tr>
    </table>
    <div id="submit">
      <button id="submitbutton" type="submit"><img src="/img/ac_emblem_white.png"></button>
      <div id="submitmessage">log this mission</div>
    </div>
  </form>
</div>